*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
    background:#f5f5f5;
    
    }
    
    
    
    header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:white;
    border-bottom:1px solid #ddd;
    }
    
    nav a{
    margin:0 10px;
    text-decoration:none;
    color:#333;
    }
    
    .donate{
    padding:3px 5px;
    border-radius:20px;
    border:1px solid gray;
    background:#e2e2e2;
    float:right;
    }
    .donate:hover{
        background-color: #7FBEAC;
    }
  
    
    .main{
    display:flex;
    height:500px;
    }
    
   
    
    .left{
    width:40%;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    padding:40px;
    background:#f0f0f0;
    }
    
    .card{
    text-align:center;
    }
    
    .card img{
    width:80px;
    margin-bottom:10px;
    }
    
 
    
    .right{
    width:60%;
    padding:40px;
    background:linear-gradient(to right,#b2dfdb,#80cbc4);
    }
    
    .right h2{
    margin-bottom:10px;
    }
    
    .right p{
    margin-bottom:20px;
    }
    
    .form-box{
    background:white;
    padding:20px;
    border-radius:10px;
    width:80%;
    }
    
    .row{
    display:flex;
    gap:10px;
    margin-bottom:10px;
    }
    
    input, textarea{
    width:100%;
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
    }
    
    textarea{
    height:80px;
    resize:none;
    }
    
    button{
    width:100%;
    padding:10px;
    background:#606F7E;
    color:white;
    border:none;
    border-radius:5px;
    margin-top:10px;
    }
    
   
    
    footer{
    background:#5d6d7e;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
    }
    
    .student{
    display:flex;
    justify-content:space-around;
    margin-bottom:10px;
    }
    .info{
        float:left;
    }
    .btn:hover{
background-color: #7FBEAC;
    }
    .text1:hover{
        color: #7FBEAC;
    }
    .zoom-effect {
        width: 500px;
        border-radius: 10px; 
        transition: all 0.4s ease;
        cursor: pointer;
      }
      
     
      .zoom-effect:hover {
        transform: scale(1.1);
        border-radius: 25px; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
      }